:root {
  /* text scales */
  --scale-1-minor-second: 1.067;
  --scale-2-major-second: 1.125;
  --scale-3-minor-third: 1.2;
  --scale-4-major-third: 1.25;
  --scale-5-perfect-fourth: 1.333;
  --scale-6-augmented-fourth: 1.414;
  --scale-7-perfect-fifth: 1.5;
  --scale-8-minor-sixth: 1.6;
  --scale-9-golden-ratio: 1.618;

  --base-font-size: 0.875rem;
  --base-fluid-ratio: 0.875;
  --base-rem: calc(var(--base-font-size) + var(--base-fluid-ratio) * 1vw);
  --base-text-scale: var(--scale-5-perfect-fourth);

  /* fonts */
  --font-system: "Helvetica Neue", Helvetica, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-heading: Inter Tight, var(--font-system);
  --font-body: Inter, var(--font-system);

  /* colors */
  --clr-black: #07070a;
  --clr-white: #ffffff;

  /* colors:brand */
  --clr-brand: #005500;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 100%;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-size: var(--base-rem);
  font-family: var(--font-body);
}

h1,
.text-l-1 {
  font-size: var(--text-l-1);
}

h2,
.text-l-2 {
  font-size: var(--text-l-2);
}

h3,
.text-l-3 {
  font-size: var(--text-l-3);
}

h4,
.text-l-4 {
  font-size: var(--text-l-4);
}

h5,
.text-l-5 {
  font-size: var(--text-l-5);
}

h6,
.text-l-6 {
  font-size: var(--text-l-6);
}

.text-l-7 {
  font-size: var(--text-l-7);
}

p,
.text-base {
  font-size: var(--text-base);
}

.text-s {
  font-size: var(--text-s-1);
}

.text-xs {
  font-size: var(--text-s-2);
}

.text-xxs {
  font-size: var(--text-s-3);
}
