:root {
  /* type:clamp */

  /* https://utopia.fyi/type/calculator/?c=320,16,1.25,2560,24,1.25,7,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--3: clamp(0.5119rem, 0.5088rem + 0.0156vw, 0.5275rem);
  --step--2: clamp(0.64rem, 0.6273rem + 0.0638vw, 0.7038rem);
  --step--1: clamp(0.8rem, 0.7725rem + 0.1375vw, 0.9375rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.25rem, 1.1668rem + 0.4163vw, 1.6663rem);
  --step-2: clamp(1.5625rem, 1.4308rem + 0.6588vw, 2.2213rem);
  --step-3: clamp(1.9531rem, 1.7516rem + 1.0075vw, 2.9606rem);
  --step-4: clamp(2.4413rem, 2.1401rem + 1.5056vw, 3.9469rem);
  --step-5: clamp(3.0519rem, 2.6101rem + 2.2088vw, 5.2606rem);
  --step-6: clamp(3.815rem, 3.1755rem + 3.1975vw, 7.0125rem);
  --step-7: clamp(4.7681rem, 3.8521rem + 4.58vw, 9.3481rem);

  --text-l-1: var(--step-1);
  --text-l-2: var(--step-2);
  --text-l-3: var(--step-3);
  --text-l-4: var(--step-4);
  --text-l-5: var(--step-5);
  --text-l-6: var(--step-6);
  --text-l-7: var(--step-7);
  --text-base: var(--step-0);
  --text-s-1: var(--step--1);
  --text-s-2: var(--step--1);
  --text-s-3: var(--step--3);
}

body {
  font-size: var(--text-base);
  line-height: inherit;
}
